# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual environment
env/
venv/
ENV/
.venv/

# Django specific
*.log
*.pot
*.pyc
# db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.local
.env.*.local
*.env

# IDE / Editor
.vscode/
.idea/

# Byte-compiled / cache
*.DS_Store
*.cache/
*.pytest_cache/

# Coverage
htmlcov/
.coverage
.coverage.*

# MyPy
.mypy_cache/

# PyTest
.pytest_cache/

# Build
build/
dist/

# Node (if using React frontend together)
node_modules/

# Docker
docker-data/
